* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: "IMB Plex Mono", monospace;
    
    
}

.gridContainer {
  min-height: 100vh;
  max-height: 100vh;
  display: grid; 
  grid-template-rows: auto 1fr;
  grid-template-areas: 
  'header'
  'content'
}







.header {
  z-index: 1;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-area: header;
  background-color:rgba(210,236,245);
  box-shadow: 0px 4px 8px rgba(25,98,155,.25);
}


.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 227, 188, 1);
  border: 2px solid rgba(25, 98, 155, 1);
  border-radius: 25%;
  padding: 7px;
  height: 1.5rem;
  width: 1.5rem;
}





.nav-vector-container {
  z-index: 2;
  position: relative;
  width: 75px;
  height: 75px;
  cursor: pointer;
  transition: transform 1s, width 1s, height 1s;
}

.nav-vector-container img {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 100%;
  transition: transform 1s, width 1s, height 1s;
}

.options-menu {
  top: 10px;
  left: 10px;
  display: none;
  position: absolute;
  transform-origin: bottom right;
}

.options-menu a {
  text-decoration: none;
  color: rgba(25,98,155,255);
  opacity: 0; /* Initial opacity set to 0 */
  transition: opacity 1s ease 0.5s; /* Transition for opacity over 1 second */
}


.header h1 {
  color: rgba(25,98,155,255);
  padding-right: 2vw;
}









.bodyContent {
  background-color:rgba(210, 236, 245, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  grid-area: content;
  overflow-y: hidden;

}


.bodyContent iframe {
  padding: 50px;
  width: 100%;
  height: 100%;
}


.twitter-timeline {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  align-self:flex-start;
  
}




.footer {
  grid-area: footer;
  background-color:rgba(210,236,245,0.7);
  width: 100%;

}




/*Shrinking for mobile*/
@media (max-width: 768px) {


  
}
